@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background: #f3f4f6;
  --foreground: #333333;
  --primary: #4f46e5;
  --secondary: #6b7280;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Geist Sans', Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.grid {
  display: grid;
}

@media (min-width: 768px) {
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
